.nav-ul li{
    display: inline-block;
    padding: 10px;
}

.nav-ul{
    padding: 5px;
    margin:0;
    background-color: var(--background);;
}
.nav-ul li a{
   color:#fff;
   padding: 5px;
   text-decoration: none;

}

.nav-ul li.active{
    background: var(--text-active);
    border-radius: 15px;
}

.div_logout{
    float: right;
}

.logo{
    float: left;
    margin: 5px;
    border-radius: 12px;
    cursor: pointer;
}